@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif !important;
}

#container, #container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  min-height: 100vh;
  background-image: url('../images/bg_sdvx.png'), url('../images/body-bg1.png'), url('../images/bg_main02.png');
  background-repeat: no-repeat, repeat, repeat;
  background-position: center, top left, top left;
  background-attachment: fixed;
}

.typographies {
  text-align: center;
  background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 3px #fff);
}

#container2 {
  padding: 5em 0;
  background-color: rgb(56, 56, 56);
}

.header {
  display: flex;
  align-items: center;
}

.header svg {
  margin-right: 5px;
}

.content {
  padding-top: 10px;
  height: 208px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
