:root {
  --color-novice: #da7dff;
  --color-advanced: #ffee00;
  --color-exhaust: #ff0000;
  --color-booth: #0077ff;
  --color-infinite: #ff00f2;
  --color-gravity: #ff6600;
  --color-heavenly: #00c3ff;
  --color-vivid: #ff0077;
  --color-maximum: #a3a3a3;
}

#musicList {
  width: 100%;
  height: 100%;
}

.covers {
  display: flex;
  align-items: center;
}

.musicInfoWrapper {
  width: 100%;
  overflow: hidden;
}

.music {
  height: 100%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}

.textInfo {
  display: flex;
}

.textInfo .left {
  width: 70%;
}

.textInfo .right {
  flex-grow: 1;
  text-align: right;
}

.music .title {
  height: 1.5em;
}

.music .title,
.music .artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.music .artist,
.music .date {
  font-size: .8em;
  color: #757575;
}

.difficulties {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  white-space: nowrap;
}

.difficulty {
  font-size: .75em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.novice {
  background-color: var(--color-novice) !important;
}

.advanced {
  background-color: var(--color-advanced) !important;
}

.exhaust {
  background-color: var(--color-exhaust) !important;
}

.maximum {
  background-color: var(--color-maximum) !important;
}

.infinite {
  background-color: var(--color-infinite) !important;
}

.gravity {
  background-color: var(--color-gravity) !important;
}

.heavenly {
  background-color: var(--color-heavenly) !important;
}

.vivid {
  background-color: var(--color-vivid) !important;
}

.booth {
  border-right: 8px solid var(--color-booth);
  background-image: url('../images/booth.png');
  background-size: 35%;
}

.infiniteInfection {
  border-right: 8px solid var(--color-infinite);
  background-image: url('../images/infinite.png');
  background-size: 22%;
}

.gravityWars {
  border-right: 8px solid var(--color-gravity);
  background-image: url('../images/gravity.png');
  background-size: 25%;
}

.heavenlyHaven {
  border-right: 8px solid var(--color-heavenly);
  background-image: url('../images/heavenly.png');
  background-size: 22%;
}

.vividWave {
  border-right: 8px solid var(--color-vivid);
  background-image: url('../images/vivid.png');
  background-size: 25%;
}

.exceedGear {
  border-right: 8px solid #0f0f0f;
  background-image: url('../images/exceed.png');
  background-size: 25%;
}
