#musicList {
  width: 100%;
  height: 100%;
}

.covers {
  display: flex;
  align-items: center;
}

.music {
  background-color: transparent !important;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music .coverWrapper {
  display: flex;
  flex-direction: column;
}

.difficulty {
  text-align: center;
  text-transform: uppercase;
}

.novice {
  background-color: #da7dff !important;
}

.advanced {
  background-color: #ffd900 !important;
}

.exhaust {
  background-color: #ff2c2c !important;
}

.maximum {
  background-color: #969696 !important;
}

.infinite {
  background-color: #dd00dc !important;
}

.gravity {
  background-color: #ff7300 !important;
}

.heavenly {
  background-color: #0077ff !important;
}

.vivid {
  background-color: #ff0080 !important;
}

.musicInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.booth {
  border-left: 10px solid #1c63ff;
}

.infiniteInfection {
  border-left: 10px solid #dd00dc;
}

.gravityWars {
  border-left: 10px solid #ff7300;
}

.heavenlyHaven {
  border-left: 10px solid #0077ff;
}

.vividWave {
  border-left: 10px solid #ff0080;
}

.exceedGear {
  border-left: 10px solid #0f0f0f;
}
